<!-- /*
*============================
*Author: Richard Krasso
*Edited by: Gabriel Sanchez
*Date: 3/28/2020
*=============================
*/ -->



<mat-card>
  <mat-card-title>nodebucket</mat-card-title>
  <mat-card-subtitle>Welcome</mat-card-subtitle>
  <mat-card-content>
    The nodebucket is task management software designed to simplify the way users create, track, edit and delete time confidential material. Our goal is to implement the MEAN Stack Technology into this project (MongoDB, Express, Angular and Node.js).
    <mat-list>
      <mat-list-item> Mongo </mat-list-item>
      <mat-list-item> Express </mat-list-item>
      <mat-list-item> Angular </mat-list-item>
      <mat-list-item> Node.js </mat-list-item>
     </mat-list>
  </mat-card-content>

</mat-card>
