/*
*============================
*Author: Richard Krasso
*Edited by: Gabriel Sanchez
*Date: 3/10/2020
*=============================
*/

.mat-card{
  width: 30%;
  margin: 0 auto;
  margin-top: 15px;
}
